<section class="card">
  <div class="card-body">
    <h1>About</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt eveniet explicabo, asperiores perspiciatis rerum dolores sed. Nobis odio ipsam ipsum?
    </p>
  </div>
</section>