<section class="card">
  <div class="card-body about">
    <h1>About</h1>
    <p>
      This application was made using technologies such as JavaScript, NodeJS, MongoDB, HTML and CSS, security modules.
    </p>
    <center><img src="/img/technologies.png" alt=""></center>
  </div>
</section>