<div class="jumbotron mt-4">
    <h1 class="display-4">NoteZ App is now here</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus et quasi repellat nisi magnam, facilis velit id aliquid perspiciatis eaque commodi officiis eum cum dolor libero natus vel molestiae dolore?</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae commodi quam animi sunt adipisci officiis error temporibus nam quia magnam.</p>
    <a href="https://github.com/agussputrii" class="btn btn-dark" target="_blank">Repositorio!</a>
</div>