<div class="jumbotron mt-4 card">
    <h1 class="display-4">NoteZ App is now here!</h1>
    <p class="lead">NoteZ is a simple application that will allow you to manage your notes in a fast, simple and effective way. </p>
    <hr class="my-4">
    <p class="lead">To start working with your notes, you must first register by clicking on the registration button in the upper right corner.</p>
    <p class="lead">If you already have an account, you can log in by clicking on the login button in the upper right corner.</p>
    <div>
        <center><img src="/img/notez.png" alt="logo" width="50%" style="padding-top: 40px;"></div></center> 
    </div>
</div>